* {
    margin: 0;
}

body {
    margin: 0;
    background-color: #23252C;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.profile-img {
    padding-top: 44px;
}

main {
    width: 317px;
    background-color: #1A1B21;
    padding: 0;
    margin: auto;
}

h1 {
    margin: 0;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
}

h2, p {
    padding-left: 36px;
    text-align: left;
}

h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #F5F5F5;
}

p {
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    color: #DCDCDC;
}

footer {
    height: 10vh;
    width: 317px;
    background-color: #161619;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

footer i {
    color: #161619;
    background-color: #918E9B;
    padding: 7px;
    border-radius: 5px;
}

.job-title {
    font-weight: 400;
    font-size: 12.8px;
    line-height: 15px;
    text-align: center;
    color: #F3BF99; 
}
.website {
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    /* identical to box height, or 15px */
    text-align: center;
    color: #F5F5F5;  
}

.email-btn {
    width: 115px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #374151;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

.contact {
    display: flex;
    gap: 15px;
    margin: 15px 0 30px;
    justify-content: center;
}

.email-btn i {
    padding: 9px 8px 9px 1px;
}

.linkedin-btn {
    color: #FFFFFF;
    width: 115px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    background: #5093E2;
    border-radius: 6px;
    padding: 9px 13px;
}

.linkedin-btn i {
    margin-right: 9px;
}

.interest-para {
    padding-bottom: 24px;
}